$highlight-color: #ef5f3c;
$highlight-brightness-color: #fd7e4f;
$highlight-reflect-color: #f7d0c7;

$primary-color: #1cbc2c;
$primary-shadow-color: #27ae33;
$primary-hover-color: #32cc42;

$secondary-color: #fafafa;
$secondary-shadow-color: #dcdcdc;
$secondary-hover-color: #ececec;

$main-font-color: #828282;

$link-color: #20a1d4;

$max-page-width: 302px;